@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*                */
/* OVERALL*/
/*                */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*                */
/* MASTER WRAP*/
/*                */
body{
    background-color: #f5f5f5;
}

.master-wrap{
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    height: auto;
}

 h1{
    text-align: center;
    margin-top: 40px;
}

/*                */
/* WALLET BOX     */
/*                */
.master-wrap .wallet-box{
    height: 400px;
    width: 700px;
    background-color: #fff ;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #000;
    text-align: center;
}

.master-wrap .wallet-box .title-box{
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

/*                */
/* Game Box       */
/*                */
.master-wrap .game-box{
    height: 600px;
    width: 700px;
    background-color: #fff ;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 100px;
}

.master-wrap .game-box .title-box{
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.master-wrap .game-box #fieldAccount{
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border: 1px solid #000;
    margin-top: 20px;
}

.master-wrap .game-box #fieldAccount .title{
    font-size: 12px;
    margin-top: 5px;
}


/*                */
/* Field           */
/*                */
.master-wrap .wallet-box #fieldAccount{
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border: 1px solid #000;
    margin-top: 20px;
}

.master-wrap .wallet-box #fieldAccount .title{
    font-size: 12px;
    margin-top: 5px;
}

.master-wrap .wallet-box #fieldAccount #adress{ 
    font-size: 15px;
    font-weight: bold;
    margin-top: 6px;
}


/*                */
/* BUTTON SETTINGS*/
/*                */
     
#connect{
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 200px;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,165,227,1) 0%, rgba(0,212,255,1) 100%);
    color: #fff;
    margin-top: 50px;
    cursor: pointer;

}

#deposit{
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 200px;
    border: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(222,165,227,1) 0%, rgba(0,212,255,1) 100%);
    color: #fff;
    margin-top: 50px;
    cursor: pointer;

}

#connect:hover{
    box-shadow: 0 6px 7px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);
}

#accounts{
    margin: 0 auto;
    display: block;
    height: 50px;
    width: 200px;
    border: none;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    margin-top: 20px;
}

#accounts:hover{
    box-shadow: 0 6px 7px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);
}
 
/*                */
/* POPUP*/
/*                */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 6px 7px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}
  
  .input {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .button:hover {
    box-shadow: 0 6px 7px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);
  }
  
  .close-button {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
  }
  
  .close-button:hover {
    background-color: #ccc;
  }
